<h2 {% if site.style == 'dark' %}class="text-white" {% endif %}>Spotlight</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Gradient Frame is an Angular
  Web App that displays the image you want with its main colors as a gradient background. Still a work in progress.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  <a style="margin: auto" href="https://guigui64.github.io/gradient-frame/">
    <img src="/assets/frame-chrome-mac.png">
  </a>
</div>